*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg,#b3ffb3, #ccffff);
}

.menu{
    position: relative;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu li{
    position: absolute;
    left: 0;
    list-style: none;
    transform-origin: 200px;
    transition: 0.5s;
    transition-delay: calc(0.1s * var(--i));
    transform: rotate(0deg) translateX(160px);
}

.menu.active li{
    transform: rotate(calc(360deg / 5 * var(--i)));
}

.menu li a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background: white;
    border-radius: 50%;
    transform: rotate(calc(360deg / -5 * var(--i)));
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15); 
}

.menu li a:hover{
    color: green;
}

.toggle{
    position: absolute;
    width: 80px;
    height: 80px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 0 black;
    font-size: 3em;
    transition: transform 1.25s;
}

.menu.active .toggle{
    transform: rotate(315deg);
}

.header {
    background-color: white;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    padding: 0 20px;
  }
  
  .header h1 {
    font-size: 24px;
    color: #333;
    margin: 0;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
  }
  